[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pulp = "*"
scipy = "*"
networkx = "*"
matplotlib = "*"
pytest = "*"
coptpy = "*"

[dev-packages]

[requires]
python_version = "3.10"
